@import '../../_scss/vars';

.tv-bio{
  .block-heading{
    margin-bottom: 15px;
    header{
      display: inline-block;
      h2, h3{
        margin: 0 10px 0 20px;
        color: $white;
        font-size: 2rem;
        font-family: $contentFont;
        letter-spacing: 2px;
        text-transform: none;
        border-left: 1px solid $blue;
        padding-left: 10px;
        span{
          color: $grey;
          font-weight: 500;
          font-size: 0.9rem;
          font-family: $headingFont;
          letter-spacing: 5px;
          margin-top: 6px;
          text-transform: uppercase;
          display: block;
        }
      }
    }
  }
  
  .tv-bio-jumbo{
    min-height: 100vh;
    .curtain{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: rgba(0,0,0,0.98);
    }
    .backdrop{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .content-box{
      max-width: 1200px;
      margin: 0 auto;
      padding: 60px 15px;
      z-index: 10;
      .seg-container{
        .post-container{
          padding: 15px;
          z-index: 5;
          h {
            letter-spacing: 2px;
            margin: 0 0 -2px;
            font-family: $contentFont;
          }
          .genre-list{
            margin-bottom: 0;
            margin-top: -8px;
            li {
              display: inline-block;
              font-weight: 400;
              font-size: 1.0rem;
              text-transform: uppercase;
              letter-spacing: 2px;
              margin: 6px;
              
              &:first-child {
              margin-left: 0;
              }
            }
          }
          .language-list{
            li {
              background: $black;
              color: $blue;
              padding: 3px 5px 5px;
              border-radius: 5px;
              display: inline-block;
              font-family: $contentFont;
              font-size: 1.1rem;
              margin: 3px;
              box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
              &:first-child {
              margin-left: 0;
              }
            }
          }
          .about-info{
            font-size: 1.3rem;
            line-height: 20px;
            margin-top: 45px;
          }
          .first-release-info{
            margin-top: 45px;
            letter-spacing: 2px;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $contentFont;
            span {
              color: $blue;
              text-transform: none;
              font-family: $headingFont;
              letter-spacing: 0;
            }
          }
          .created-by{
            margin-top: 45px;
            font-size: 1.2rem;
            font-family: $contentFont;
            letter-spacing: 2px;
          }
          .created-by-list{
            margin-top: 15px;
            li {
              display: inline-block;
              max-width: 70px;
              font-size: 1.2rem;
              color: $blue;
              margin: 5px 8px;
              img {
                margin-bottom: 8px;
              }
              &:first-child {
              margin-left: 0;
              }
            }
          }
        }
        .img-container{
          padding: 10px;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid rgba(255, 255, 255, 0.1);
          box-shadow: 1px 15px 35px 1px rgba(0,0,0,0.95);
          @include breakpoint(tablet){
            max-width: 450px;
          }
        }
      }
    }
  }
  
  .seasons-box-container{
    z-index: 10;
    position: relative;
    
    .rating-radial{
      width: 160px;
      height: 160px;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
      svg {
        circle {
          stroke-dashoffset: 0;
          stroke-width: 10px;
          stroke: rgba(255, 255, 255, 0.35);
        }
        circle:nth-child(2) {
          stroke: $blue;
          stroke-width: 20px;
          stroke-dashoffset: 0;
        }
      }
      .rating-value{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: 2.0rem;
        font-weight: 700;
        font-family: $contentFont;
        color: $white;
      }
      
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: inset 0px 1px 8px 0px rgba(0,0,0,0.3);
        width: 75%;
        height: 75%;
        border-radius: 50%;
      }
    }
    .rating-text{
      font-family: $contentFont;
      color: $white;
      margin-bottom: 0;
    }
    
    .episodes-seasons{
      max-width: 400px;
      margin: 30px auto 30px;
      .row{
        margin: 0;
        .segment{
          padding: 10px;
          .borderbox-container{
            padding: 10px;
            font-size: 1.1rem;
            font-family: $contentFont;
            span {
              display: block;
              font-weight: 700;
              font-size: 3.2rem;
              font-family: $headingFont;
              color: $blue;
            }
          }
          &:nth-child(1){
            border-right: 1px solid rgba(255, 255, 255, 0.15);
          }
        }
      }
    }
    .seasons{
      .outer-container{
        max-width: 1200px;
        margin: 0 auto;
        .row{
          margin: 0;
          .season-segment{
            padding: 0 8px;
            margin-bottom: 20px;
            .borderbox-container{
              padding: 10px;
              .img-container{
                p{
                  padding: 8px 5px;
                  background: rgba(0, 0, 0, 0.85);
                  color: $white;
                  position: absolute;
                  bottom: 0;
                  left: 0px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 100%;
                  margin-bottom: 0;
                  font-family: $contentFont;
                  font-size: 1.2rem;
                  font-weight: 700;
                  text-align: center;
                }
              }
              .air-date{
                font-size: 1.0rem;
                text-align: right;
                color: $black;
                padding: 5px 0;
                p {
                  display: inline-block;
                  margin-bottom: 0;
                  background: $white;
                  padding: 5px;
                  border-radius: 3px;
                  span {
                    font-family: $contentFont;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
    .credits{
      .outer-container{
        padding-top: 30px;
        max-width: 1200px;
        margin: 0 auto;
        .row{
          margin: 0;
        }
        .credits-container{
          padding: 0 8px;
          margin-bottom: 20px;
          .borderbox-container{
            padding: 10px;
            .actor-name{
              margin-top: 10px;
              margin-bottom: 0;
              font-weight: 400;
            }
            .character-name{
              color: $blue;
              font-family: $contentFont;
              font-weight: 600;
            }
            .actor-name, .character-name{
              font-size: 1.2rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
    
    .similar{
      .outer-container{
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 30px;
        .row {
          margin: 0;
          .similar-container{
            padding: 0 8px;
            margin-bottom: 20px;
            .borderbox-container{
              padding: 10px;
              .img-container{
                p{
                  padding: 8px 5px;
                  background: rgba(0, 0, 0, 0.85);
                  color: $white;
                  position: absolute;
                  bottom: 0;
                  left: 0px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 100%;
                  margin-bottom: 0;
                  font-family: $contentFont;
                  font-size: 1.2rem;
                  font-weight: 700;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}