@import '../../_scss/vars';

.movie-bio{
  .block-heading{
    margin-bottom: 15px;
    header{
      display: inline-block;
      h2, h3{
        margin: 0 10px 0 20px;
        color: $white;
        font-size: 2rem;
        font-family: $contentFont;
        letter-spacing: 2px;
        text-transform: none;
        border-left: 1px solid $blue;
        padding-left: 10px;
        span{
          color: $grey;
          font-weight: 500;
          font-size: 0.9rem;
          font-family: $headingFont;
          letter-spacing: 5px;
          margin-top: 6px;
          text-transform: uppercase;
          display: block;
        }
      }
    }
  }
  
  .movie-jumbo{
    min-height: 100vh;
    .curtain{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: rgba(0,0,0,0.58);
      background: linear-gradient(to right, rgba(0,0,0,0.58) 0%, rgba(0,0,0,0.58) 38%, rgba(0,0,0,0.58) 48%, rgba(0,0,0,0.58) 63%, rgba(0,0,0,0.64) 68%, rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    }
    .backdrop{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .post-container{
      z-index: 20;
      position: absolute;
      top: 58%;
      transform: translateY(-50%);
      width: 100%;
      max-width: 450px;
      padding: 15px;
      h1{
        letter-spacing: 2px;
        margin: 0 0 -2px;
        font-family: $contentFont;
      }
      .genere-list{
        margin-bottom: 0;
        margin-top: 1px;
        li {
          color: $blue;
          display: inline-block;
          font-weight: 400;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin: 6px;
          &:first-child{
            margin-left: 0;
          }
        }
        p{
          margin: 30px 0;
          font-size: 1.2rem;
          line-height: 20px;
        }
      }
    }
  }
  .prod{
    background: $white;
    z-index: 20;
    .row{
      max-width: 1200px;
      margin: 0 auto;
      .blocks{
        padding: 0;
      }
      .production-companies{
        background: $white;
        .outer-container{
          padding: 30px 0;
          .block-heading{
            h2{
              color: $black;
            }
          }
          ul{
            padding: 0 15px;
            margin: 30px 0 0;
            li{
              color: $black;
              font-family: $contentFont;
              font-size: 1.2rem;
              display: inline-block;
              padding: 5px;
              .borderbox-container{
                padding: 5px;
                border: 1px solid $black;
              }
            }
          }
        }
      }
      .production-countries{
        background: $white;
        .outer-container{
          padding: 30px 0;
          .block-heading{
            h3{
              color: $black;
            }
          }
          ul{
            margin: 30px 0 0;
            padding: 0 15px;
            li{
              padding: 5px;
              display: inline-block;
              .borderbox-container{
                padding: 15px;
                border: 1px solid rgba(0, 0, 0, 0.05);
                width: 140px;
                overflow: hidden;
                img{
                  max-width: 35px;
                  padding: 10px;
                  border-radius: 3px;
                  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
                }
                span{
                  display: block;
                  color: $black;
                }
                .short-code{
                  font-weight: 700;
                  font-size: 4.0rem;
                  text-transform: uppercase;
                  margin: -15px 0 -20px;
                  text-align: left;
                  color: $lightGrey;
                  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.35);
                }
                .country-name{
                  font-size: 1.2rem;
                  font-family: $contentFont;
                  color: $grey;
                  text-align: left;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
  .credits{
    z-index: 20;
    background: rgba(0, 0, 0, 0.35);
    .outer-container{
      padding-top: 30px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .row{
      margin: 0;
      .credits-seg{
        padding: 0 8px;
        margin-bottom: 20px;
        .borderbox-container{
          padding: 10px;
          .actor-name{
            margin-top: 10px;
            margin-bottom: 0;
            font-weight: 400;
          }
          .char-name{
            color: $blue;
            font-family: $contentFont;
            font-weight: 600;
          }
          .actor-name, .char-name{
            font-size: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }  
  .release-rating{
    z-index: 20;
    background: white;
    .outer-container{
      max-width: 1200px;
			margin: 0 auto;
			padding: 30px 0;
      .block-heading{
        margin-bottom: 40px;
        h3{
          color: $black;
        }
      }
      .countries{
        padding: 0 20px;
        .country-block{
          margin-bottom: 35px;
          .country-header{
            padding: 15px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            width: 140px;
            overflow: hidden;
            img{
              max-width: 35px;
              padding: 10px;
              border-radius: 3px;
              box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
            }
            h4{
              font-weight: 700;
              font-size: 4.5rem;
              text-transform: uppercase;
              margin: 10px 0 3px;
              text-align: left;
              color: $lightGrey;
              text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.35);
            }
            p{
              font-size: 1.2rem;
              font-family: $contentFont;
              color: $grey;
              text-align: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &:before{
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 250px;
              border-top: 1px dotted rgba(0, 0, 0, 0.15);
              z-index: -1;
            }
          }
          .country-body{
            margin-top: 5px;
            ul{
              margin-bottom: 0;
              padding: 0 5px;
              margin: 0 -10px;
              li {
                font-size: 1.2rem;
                padding: 5px;
                color: $black;
                .borderbox-container{
                  padding: 10px;
                  border: 1px solid rgba(0, 0, 0, 0.05);
                  .rating{
                    color: $black;
                    display: inline-block;
                    font-weight: 700;
                    font-size: 2.5rem;
                    margin-bottom: 25px;
                    span{
                      font-size: 1.2rem;
                      display: block;
                      color: $lightGrey;
                      text-transform: uppercase;
                      letter-spacing: 3px;
                    }
                  }
                  .date, .type{
                    margin-bottom: 0;
                    font-family: $contentFont;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}